nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .firebrick
{
    color: #B22222;
}

nav .navbar-brand .blue
{
    color: #008080;
}

nav .navbar-brand .grey
{
    color: #808080;
}

main table
{
    width: 100%;
    height: 100%;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}


[id^="marker"] {
    width: 12px;
    height: 12px;
    border: 2px solid #088;
    border-radius: 6px;
    background-color: #0FF;
    opacity: 0.7;
}


.popover-content {
    min-width: 180px;
}
