<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">


        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>FindMyCondom</title>

        <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">

        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    </head>

    <body>



        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <div class="navbar-brand">
              <span class="grey">Find</span>
              <span class="firebrick">My</span>
              <span class="blue">Condom</span>
            </div>
            <span class="navbar-text">
              SW24
            </span>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            <body>



    <div id="map" class="map"></div>


    <div style="display: none;">


      {% for business in businesses %}
        <div id="marker{{loop.index}}" title="Marker"></div>
      {% endfor %}

    </div>


    <table class="table-dark" class="table-responsive table-body">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>

        </tr>
      </thead>
      <tbody>
        {% for business in businesses %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{business["name"]}}</td>
              <td>{{business["location"]["address1"]}}</td>
              <td>{{business["display_phone"]}}</td>

        {% endfor %}
      </tbody>
    </table>

    <script>

      var Feature = ol.Feature;
      var Geolocation = ol.Geolocation;
      var Map = ol.Map;
      var View = ol.View;
      var Point = ol.geom.Point;
      var TileLayer = ol.layer.Tile;
      var VectorLayer = ol.layer.Vector;
      var OSM = ol.source.OSM;
      var VectorSource = ol.source.Vector;
      var CircleStyle = ol.style.Circle;
      var Fill = ol.style.Fill;
      var Stroke = ol.style.Stroke;
      var Style = ol.style.Style;
      var Overlay = ol.Overlay
      var fromLonLat = ol.proj.fromLonLat;


      var view = new View({
        center: [0, 0],
        zoom: 2
      });



      var map = new Map({
        layers: [
          new TileLayer({
            source: new OSM()
          })
        ],
        target: 'map',
        view: view
      });

      {% for business in businesses %}
        var marker = new Overlay({
          position: fromLonLat([{{business["coordinates"]["longitude"]}}, {{business["coordinates"]["latitude"]}}]),
          positioning: 'center-center',
          element: document.getElementById('marker{{loop.index}}'),
          stopEvent: false
        });
        map.addOverlay(marker);
      {% endfor %}

      var geolocation = new Geolocation({
        // enableHighAccuracy must be set to true to have the heading value.
        trackingOptions: {
          enableHighAccuracy: true
        },
        projection: view.getProjection()
      });

      function el(id) {
        return document.getElementById(id);
      }

      geolocation.setTracking(true);

      // handle geolocation error.
      geolocation.on('error', function(error) {
        var info = document.getElementById('info');
        info.innerHTML = error.message;
        info.style.display = '';
      });

      var accuracyFeature = new Feature();
      geolocation.on('change:accuracyGeometry', function() {
        accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
      });

      var positionFeature = new Feature();
      positionFeature.setStyle(new Style({
        image: new CircleStyle({
          radius: 6,
          fill: new Fill({
            color: '#3399CC'
          }),
          stroke: new Stroke({
            color: '#fff',
            width: 2
          })
        })
      }));


      var zoomtoposition = (function() {
          var executed = false;
          return function() {
              if (!executed) {
                  executed = true;
                  view.setCenter(coordinates); view.setZoom(14);
              }
          };
      })();


      geolocation.on('change:position', function() {
        var coordinates = geolocation.getPosition();
        zoomtoposition;
        positionFeature.setGeometry(coordinates ?
          new Point(coordinates) : null);
      });



      new VectorLayer({
        map: map,
        source: new VectorSource({
          features: [accuracyFeature, positionFeature]
        })
      });


    </script>
  </body>
        </main>

        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://www.yelp.com/">Yelp</a>. View their terms of service
            <a href="https://www.yelp.com/static?p=tos">here</a>. Created by Rodney Lafuente Mercado.
        </footer>

    </body>

</html>
